* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: var(--accent);
}

img {
  object-fit: cover;
}

:root {
  --primary: #121212;
  --secondary: #e7e7e7;
  --detail: #e1d2c3;
  --accent: #d1ad88;
  --pixelify: "Pixelify Sans", sans-serif;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--secondary);
  color: var(--primary);
  letter-spacing: -0.5px;
}

.border-black {
  border: 1px solid var(--primary);
}

.btn-black {
  background-color: var(--primary);
  color: var(--secondary);
  transition: 200ms;
}
.btn-black:hover {
  background-color: var(--secondary);
  border: 1px solid var(--primary);
}

.bg-home-background {
  background: url(/assets/home_bg.webp);
  background-size: cover;
  background-position: center;
}

.h-50vh {
  height: 50dvh;
}

.max-w-md {
  max-width: 600px;
}

.max-w-xl {
  max-width: 1000px;
}

#welcome span {
  font-family: var(--pixelify);
  background: var(--detail);
}
