@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.anim-fade-in {
  animation: fadeIn 1s;
}

.bg-home-background {
  object-fit: cover;
}

.bg-detail {
  @include change-background($detail);
}

.rounded-b-5 {
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.border-black {
  border: 1px solid $primary;
}

.btn-black {
  @include change-background($primary);
  color: $secondary;
  transition: 200ms;
}
.btn-black:hover {
  @include change-background($secondary);
  border: 1px solid $primary;
}

.btn-brown {
  @include change-background($detail);
  color: $primary;
  transition: 200ms;
}
.btn-brown:hover {
  @include change-background($secondary);
  border: 1px solid $primary;
}

.viral-video-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;
  img {
    width: 32px;
    height: 32px;
  }
}

#welcome span {
  font-family: $pixelify;
  @include change-background($detail);
}

@media screen and (max-width: 640px) {
  .logo-nav {
    width: 200px;
  }
}
