.h-50vh {
  height: 50dvh;
}

.h-75vh {
  height: 75vh;
}

.min-h-100vh {
  min-height: 100vh;
}

.min-h-90vh {
  min-height: 90vh;
}

.max-w-md {
  max-width: 600px;
}

.max-w-lg {
  max-width: 800px;
}

.max-w-xl {
  max-width: 1000px;
}

.w-100px {
  width: 100px;
}

.w-100vw {
  width: 100vw;
}

.h-100vh {
  height: 100vh;
}

.z-index-10 {
  z-index: 10;
}

.opacity-50 {
  opacity: map-get($opacities , 50);
}

.opacity-75 {
    opacity: map-get($opacities , 75);
}

.mt-10 {
  margin-top: 100px;
}

.-mt-xl-5 {
  margin-top: -150px;
}

.rounded-full {
  border-radius: 1000px;
}

.extrabold {
  font-weight: 800;
}

.d-flex-responsive {
  display: flex;
}

.d-flex-responsive-reverse {
  display: flex;
}

@media screen and (max-width: 990px) {
  .-mt-xl-5 {
    margin-top: 0;
  }
  .min-h-100vh {
    min-height: 0;
  }
  .min-h-75vh {
    min-height: 0;
  } 
  .d-flex-responsive {
    flex-direction: column;
  }
  .d-flex-responsive-reverse {
    flex-direction: column-reverse;
  }
}
