$primary: #121212;
$secondary: #e7e7e7;
$detail: #e1d2c3;
$accent: #7a5240;
$pixelify: "Pixelify Sans", sans-serif;

$opacities: (
  0: 0,
  10: 0.1,
  20: 0.2,
  30: 0.3,
  40: 0.4,
  50: 0.5,
  60: 0.6,
  75: 0.75,
  80: 0.8,
  90: 0.9,
  100: 1,
);